#traffic-light-1{
  height: 550px;
    width: 200px;
    background-color: #333;
    border-radius: 40px;
    margin: 30px auto;
    padding: 20px;
}
#traffic-light-2{
  height: 550px;
    width: 200px;
    background-color: #333;
    border-radius: 40px;
    margin: 30px auto;
    padding: 20px;
}
.bulb {
  height: 150px;
  width: 150px;
  background-color: #111;
  border-radius: 50%;
  margin: 25px auto;
  transition: background 500ms;
}
